@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensedlight.woff2") format("woff2");
  src: url("../fonts/robotocondensedlight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensed.woff2") format("woff2");
  src: url("../fonts/robotocondensed.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensedbold.woff2") format("woff2");
  src: url("../fonts/robotocondensedbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanssemibold.woff2") format("woff2");
  src: url("../fonts/opensanssemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansextrabold.woff2") format("woff2");
  src: url("../fonts/opensansextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
