$main-color: hsl(209, 20, 43);
$main-bg: hsl(0, 0, 100);
$headers-color: hsl(213, 15, 29);
$logo-color: hsl(0, 69, 56);
$link-color: hsl(213, 15, 29);
$active-link-color: hsl(0, 69, 56);
$button-color: hsl(0, 0, 100);
$button-bg: hsl(0, 69, 56);
$promo-color: hsl(0, 0, 100);
$promo-bg: hsl(100, 0, 0);
$promo-arrow-color: hsl(0, 0, 35);
