$main-color: hsl(209, 20, 43);
$main-second-color: hsl(0, 0, 100);
$main-title-color: hsl(213, 15, 29);
$main-active-color: hsl(0, 69, 56);
$main-bg: hsl(0, 0, 100);
$logo-color: hsl(0, 69, 56);
$promo-bg: hsl(100, 0, 0);
$promo-arrow-color: hsl(0, 0, 35);
$about-item-bg: hsl(0, 0, 95);
