@import "../variables.scss";

.reviews-slider {
  margin-bottom: 90px;

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  &__review {
    display: flex;
    margin: 0 0 65px 0;
  }

  &__image {
    position: relative;
    width: 122px;
    height: 122px;
    margin-right: 45px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__photo {
    position: absolute;
    top: 0;
    left: 0;

    &--first {
      top: -20px;
      left: -35px;
    }

    &--second {
      top: -40px;
      left: -260%;
    }
  }

  &__info {
    max-width: 600px;
  }

  &__author {
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__author-name {
    display: block;
    font-size: 25px;
    color: $main-title-color;
  }

  &__author-position {
    font-size: 14px;
    color: $main-active-color;
  }

  &__text {
    //
  }

  &__indicators {
    display: flex;
    justify-content: center;
  }

  &__indicator {
    display: flex;
    width: 13px;
    height: 13px;
    margin-right: 8px;
    background-color: $main-title-color;
    border-radius: 50%;
    cursor: pointer;
  }

  &__toggle[value="button-1"]:checked ~ .reviews-slider__indicators label[for="button-1"],
  &__toggle[value="button-2"]:checked ~ .reviews-slider__indicators label[for="button-2"],
  &__toggle[value="button-3"]:checked ~ .reviews-slider__indicators label[for="button-3"] {
    background-color: $main-active-color;
  }

  &__toggle[value="button-1"]:checked ~ .reviews-slider__list {
    transform: translateX(0);
  }

  &__toggle[value="button-2"]:checked ~ .reviews-slider__list {
    transform: translateX(-33.33%);
  }

  &__toggle[value="button-3"]:checked ~ .reviews-slider__list {
    transform: translateX(-66.66%);
  }
}
